body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/bg_2.jpg) no-repeat center top / cover;
	
	height: 100vh;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 21px;
	float: left;
    font-family: 'Kaushan Script', cursive;
    font-size: 45px;
    color: aliceblue;
}

nav {
	float: right;
	margin-top: 45px;
}

.menu {
	padding: 0;
	margin: 0;
    margin-top: 30px;
}
.menu ul,
.menu ol{
    list-style: none;
}
.menu > ul{
    display: flex;
    justify-content: center;
}
.menu > ul li a{
    display: block;
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
    margin-left: -40px;
}
.menu > li > ul li a{
    padding: 10px;
    text-transform: none;
}
.menu li a:hover{
    background: #fed136;
    color: #484543;
}
.menu li:hover > ul{
    display: block;
}
.text-one {
    max-width: 340px;
	font-size: 60px;
	color: #fff;
	text-align: left;
	margin-top: 20px;

}

.text-two {
    max-width: 420px;
	font-size: 30px;
	color: #fed136;
	text-align: left;
    margin-top: 50px;
}

.button_1 {
    display: block;
	width: 100px;
    border: 2px solid #fff;
	padding: 0 0;
    border-radius: 30px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
    padding-right: 5px;
}
.button_2 {
	border-radius: 3px;
	display: block;
	width: 100px;
    border: 2px solid #fff;
	padding: 0 0;
    border-radius: 30px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}
.button_3 {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
    display: block;
	width: 240px;
	padding: 20px 0;
    margin:30px;
    border-radius: 35px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 30px;
}
.title {
	padding-top: 100px;
}
.title h2 {
	font-size: 40px;
    font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

.content{
    background: url(../img/bg_table_1.jpg) no-repeat center top / cover;
    height: 1000px;
    margin-top: 40px;
}
.text-three {
    max-width: 1000px;
	font-size: 60px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
.text-four {
    max-width: 800px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
.button_4 {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
    display: inline-block;
	width: 170px;
	padding: 10px 0;
    margin:40px;
    border-radius: 30px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
    margin-left: 570px;
}
.button_5 {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
    display: inline-block;
	width: 170px;
	padding: 10px 0;
    margin:30px;
    border-radius: 30px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 30px;
}
.button_6 {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
    display: inline-block;
	width: 170px;
	padding: 10px 0;
    margin:20px;
    border-radius: 30px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-top: 30px;
}
table{
  margin-top: 20px;
  font-family: sans-serif;
  text-align: left;
  margin-right: 100px;
  margin-bottom: 50px;  
 
}

tr{
    border-collapse: collapse;
    border:3px solid white; 
}
td{
   color: white;
  padding: 10px 110px;
    font-size: 18px;
    font-weight: bold;
}
.text_subscribes{
    padding: 0;
	margin: 0;

}
.text_subscribes ol,
.text_subscribes ul{
    list-style: none;
}
.text_subscribes > ul{
    display: flex;
    justify-content: flex-end;
}
.text_subscribes > ul li a{
    display: block;
    padding: 15px 30px 15px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fed136;
    text-decoration: none;
    margin-right: 125px;
    margin-top: 150px;
}
.right {
	height: 100px;
	background: #b1acac4d;;
	color: #434a54;
	font-size: 13px;

}

.left {
	text-align: center;
	padding-top: 30px;
	margin-left: 30px;
}

.autor {
	text-align: center;
}


